.mediaViewInfo {
	--web-view-name: ContactMe;
	--web-view-id: ContactMe;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-enable-scale-up: true;
	--web-scale-on-resize: true;
	--web-center-horizontally: true;
	--web-enable-deep-linking: true;
	--web-page-font: Arial, Helvetica, Times, Courier New, Verdana, Baskerville, Calibri, Cambria, Garamond, Perpetua,  Century Gothic, Georgia, Gill Sans, Impact, Tahoma, Palatino, Trebuchet MS,  Bookman, Luminari, Bradley Hand,;
}
:root {
	--web-view-ids: ContactMe;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
@media screen and (min-width: 600px) {
    body {
        font-size: 18px;
    }
}

@media screen and (min-width: 800px) {
    body {
        font-size: 20px;
    }
}
.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.responsive-image {
  max-width: 100%;
  height: auto;
}
a {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Use the parent element's text color */
}
.ContactMe_Class {
	position: absolute;
	width: 1920px;
	height: 1080px;
	font-family: Arial, Helvetica, Times, Courier New, Verdana, Baskerville, Calibri, Cambria, Garamond, Perpetua,  Century Gothic, Georgia, Gill Sans, Impact, Tahoma, Palatino, Trebuchet MS,  Bookman, Luminari, Bradley Hand,;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: ContactMe;
	--web-view-id: ContactMe;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-enable-scale-up: true;
	--web-scale-on-resize: true;
	--web-center-horizontally: true;
	--web-enable-deep-linking: true;
	--web-page-font: Arial, Helvetica, Times, Courier New, Verdana, Baskerville, Calibri, Cambria, Garamond, Perpetua,  Century Gothic, Georgia, Gill Sans, Impact, Tahoma, Palatino, Trebuchet MS,  Bookman, Luminari, Bradley Hand,;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
.Menu_Class {
	position: absolute;
	width: 743.466px;
	height: 51px;
	left: 888.534px;
	top: 78.5px;
	overflow: visible;
}
.BackGround-Menu_Class {
	position: absolute;
	width: 720.708px;
	height: 37.282px;
	left: 0px;
	top: 4.236px;
	overflow: visible;
}
.Trac_116_Class {
	fill: rgba(73,15,238,0.541);
}
.Trac_116 {
	overflow: visible;
	position: absolute;
	width: 112.484px;
	height: 36.211px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.Trac_119_Class {
	fill: rgba(15,238,200,0.541);
}
.Trac_119 {
	overflow: visible;
	position: absolute;
	width: 112.484px;
	height: 36.211px;
	left: 608.224px;
	top: 1.07px;
	transform: matrix(1,0,0,1,0,0);
}
.Trac_120_Class {
	fill: rgba(187,78,241,0.541);
}
.Trac_120 {
	overflow: visible;
	position: absolute;
	width: 112.484px;
	height: 36.211px;
	left: 388.224px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.Trac_118_Class {
	fill: rgba(15,238,238,0.541);
}
.Trac_118 {
	overflow: visible;
	position: absolute;
	width: 111.858px;
	height: 36.211px;
	left: 187.607px;
	top: 1.07px;
	transform: matrix(1,0,0,1,0,0);
}
.Text-Menu_Class {
	position: absolute;
	width: 734px;
	height: 51px;
	left: 9.466px;
	top: 0px;
	overflow: visible;
}
.Home_Class {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 81px;
	white-space: nowrap;
	--web-animation: fadein 0.30000001192092896s ease-out;
	--web-action-type: page;
	--web-action-target: ./;
	cursor: pointer;
	text-align: left;
	font-family: Adobe Caslon Pro, Arial, Helvetica, Times, Courier New, Verdana, Baskerville, Calibri, Cambria, Garamond, Perpetua,  Century Gothic, Georgia, Gill Sans, Impact, Tahoma, Palatino, Trebuchet MS,  Bookman, Luminari, Bradley Hand,;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(21,29,65,1);
}
.Projects_Class {
	left: 390px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 103px;
	white-space: nowrap;
	--web-animation: fadein 0.30000001192092896s ease-out;
	--web-action-type: page;
	--web-action-target: ./Projects;
	cursor: pointer;
	text-align: left;
	font-family: Adobe Caslon Pro, Arial, Helvetica, Times, Courier New, Verdana, Baskerville, Calibri, Cambria, Garamond, Perpetua,  Century Gothic, Georgia, Gill Sans, Impact, Tahoma, Palatino, Trebuchet MS,  Bookman, Luminari, Bradley Hand,;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(21,29,65,1);
}
.About_Me_Class {
	left: 170px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 131px;
	white-space: nowrap;
	--web-animation: fadein 0.30000001192092896s ease-out;
	--web-action-type: page;
	--web-action-target: ./AboutMe01;
	cursor: pointer;
	text-align: left;
	font-family: Adobe Caslon Pro, Arial, Helvetica, Times, Courier New, Verdana, Baskerville, Calibri, Cambria, Garamond, Perpetua,  Century Gothic, Georgia, Gill Sans, Impact, Tahoma, Palatino, Trebuchet MS,  Bookman, Luminari, Bradley Hand,;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(21,29,65,1);
}
.Contact_Me_Class {
	left: 582px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 153px;
	white-space: nowrap;
	text-align: left;
	font-family: Adobe Caslon Pro, Arial, Helvetica, Times, Courier New, Verdana, Baskerville, Calibri, Cambria, Garamond, Perpetua,  Century Gothic, Georgia, Gill Sans, Impact, Tahoma, Palatino, Trebuchet MS,  Bookman, Luminari, Bradley Hand,;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(21,29,65,1);
}
.Logo_Class {
	position: absolute;
	width: 474px;
	height: 71px;
	left: 314px;
	top: 64.5px;
	overflow: visible;
	--web-animation: fadein 0.30000001192092896s ease-out;
	--web-action-type: page;
	--web-action-target: ./;
	cursor: pointer;
}
.Logo_rectangle__Class {
	fill: url(#Logo_rectangle_);
}
.Logo_rectangle_ {
	position: absolute;
	overflow: visible;
	width: 319px;
	height: 64px;
	left: 155px;
	top: 7px;
}
.Amine__Bellachhab_Class {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 463px;
	white-space: nowrap;
	line-height: 45px;
	margin-top: -1.5px;
	text-align: left;
	font-family: Times, Arial, Helvetica, Times, Courier New, Verdana, Baskerville, Calibri, Cambria, Garamond, Perpetua,  Century Gothic, Georgia, Gill Sans, Impact, Tahoma, Palatino, Trebuchet MS,  Bookman, Luminari, Bradley Hand,;
	font-style: normal;
	font-weight: bold;
	font-size: 42px;
	color: rgba(21,29,65,1);
	text-transform: uppercase;
}
.wwwaminebellachhabma__All_Righ_Class {
	left: 564px;
	top: 1034px;
	position: absolute;
	overflow: visible;
	width: 793px;
	height: 25px;
	--web-animation: fadein 0.30000001192092896s ease-out;
	--web-action-type: page;
	--web-action-target: ./;
	cursor: pointer;
	line-height: 35px;
	margin-top: -7.5px;
	text-align: center;
	font-family: Tahoma, Arial, Helvetica, Times, Courier New, Verdana, Baskerville, Calibri, Cambria, Garamond, Perpetua,  Century Gothic, Georgia, Gill Sans, Impact, Tahoma, Palatino, Trebuchet MS,  Bookman, Luminari, Bradley Hand,;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(15,38,191,1);
}
.Ligne_70_Class {
	fill: transparent;
	stroke: rgba(22,42,194,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ligne_70 {
	overflow: visible;
	position: absolute;
	width: 1640px;
	height: 2px;
	left: 140px;
	top: 1002px;
	transform: matrix(1,0,0,1,0,0);
}
.Footer_Class {
	position: absolute;
	width: 1349px;
	height: 778.763px;
	left: 269.5px;
	top: 219px;
	overflow: visible;
}
.map-55e32ae4c19a85738ebb72d317_Class {
	mix-blend-mode: multiply;
	position: absolute;
	width: 1317px;
	height: 641px;
	left: 32px;
	top: 137.763px;
	overflow: visible;
}
.Im_a_Mathematics_Teacher__Peda_Class {
	left: 560.5px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 551px;
	height: 383px;
	line-height: 67px;
	margin-top: -12px;
	text-align: center;
	font-family: Arial, Arial, Helvetica, Times, Courier New, Verdana, Baskerville, Calibri, Cambria, Garamond, Perpetua,  Century Gothic, Georgia, Gill Sans, Impact, Tahoma, Palatino, Trebuchet MS,  Bookman, Luminari, Bradley Hand,;
	font-style: normal;
	font-weight: bold;
	font-size: 43px;
	color: rgba(21,29,65,1);
}
.Mail_Class {
	position: absolute;
	width: 440px;
	height: 129px;
	left: 0px;
	top: 382.764px;
	overflow: visible;
}
.bellachhabaminegmailcom_amineb_Class {
	left: 0px;
	top: 53px;
	position: absolute;
	overflow: visible;
	width: 441px;
	height: 76px;
	line-height: 40px;
	margin-top: -5px;
	text-align: center;
	font-family: Arial, Arial, Helvetica, Times, Courier New, Verdana, Baskerville, Calibri, Cambria, Garamond, Perpetua,  Century Gothic, Georgia, Gill Sans, Impact, Tahoma, Palatino, Trebuchet MS,  Bookman, Luminari, Bradley Hand,;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(21,29,65,1);
	text-decoration: underline;
}
.By_Sending_Mail_Class {
	left: 74px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 294px;
	white-space: nowrap;
	line-height: 35px;
	margin-top: -2.5px;
	text-align: center;
	font-family: Tahoma, Arial, Helvetica, Times, Courier New, Verdana, Baskerville, Calibri, Cambria, Garamond, Perpetua,  Century Gothic, Georgia, Gill Sans, Impact, Tahoma, Palatino, Trebuchet MS,  Bookman, Luminari, Bradley Hand,;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(15,38,191,1);
}
.Call_Class {
	position: absolute;
	width: 357px;
	height: 129px;
	left: 964px;
	top: 389.764px;
	overflow: visible;
}
._212_66_347_6755__212_66_715_7_Class {
	left: 0px;
	top: 53px;
	position: absolute;
	overflow: visible;
	width: 358px;
	height: 76px;
	line-height: 40px;
	margin-top: -5px;
	text-align: center;
	font-family: Arial, Arial, Helvetica, Times, Courier New, Verdana, Baskerville, Calibri, Cambria, Garamond, Perpetua,  Century Gothic, Georgia, Gill Sans, Impact, Tahoma, Palatino, Trebuchet MS,  Bookman, Luminari, Bradley Hand,;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(21,29,65,1);
}
.By_Making_Call_Class {
	left: 32px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 294px;
	white-space: nowrap;
	line-height: 35px;
	margin-top: -2.5px;
	text-align: center;
	font-family: Tahoma, Arial, Helvetica, Times, Courier New, Verdana, Baskerville, Calibri, Cambria, Garamond, Perpetua,  Century Gothic, Georgia, Gill Sans, Impact, Tahoma, Palatino, Trebuchet MS,  Bookman, Luminari, Bradley Hand,;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(15,38,191,1);
}
.Address_Class {
	position: absolute;
	width: 365px;
	height: 129px;
	left: 508px;
	top: 572.764px;
	overflow: visible;
}
.Marrakesh_40050_MOROCCO_Class {
	left: 0px;
	top: 53px;
	position: absolute;
	overflow: visible;
	width: 358px;
	height: 76px;
	line-height: 40px;
	margin-top: -5px;
	text-align: center;
	font-family: Arial, Arial, Helvetica, Times, Courier New, Verdana, Baskerville, Calibri, Cambria, Garamond, Perpetua,  Century Gothic, Georgia, Gill Sans, Impact, Tahoma, Palatino, Trebuchet MS,  Bookman, Luminari, Bradley Hand,;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(21,29,65,1);
}
.By_Geting_in_Touch_Class {
	left: 32px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 334px;
	white-space: nowrap;
	line-height: 35px;
	margin-top: -2.5px;
	text-align: center;
	font-family: Tahoma, Arial, Helvetica, Times, Courier New, Verdana, Baskerville, Calibri, Cambria, Garamond, Perpetua,  Century Gothic, Georgia, Gill Sans, Impact, Tahoma, Palatino, Trebuchet MS,  Bookman, Luminari, Bradley Hand,;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(15,38,191,1);
}
.Linkedin_Class {
	position: absolute;
	width: 172px;
	height: 54px;
	left: 604px;
	top: 373.763px;
	overflow: visible;
}
.Rectangle_165_Class {
	fill: rgba(43,15,191,1);
}
.Rectangle_165 {
	position: absolute;
	overflow: visible;
	width: 172px;
	height: 54px;
	left: 0px;
	top: 0px;
}
.Linkedin_bp_Class {
	left: 28px;
	top: 1px;
	position: absolute;
	overflow: visible;
	width: 117px;
	white-space: nowrap;
	line-height: 35px;
	margin-top: -2.5px;
	text-align: center;
	font-family: Times, Arial, Helvetica, Times, Courier New, Verdana, Baskerville, Calibri, Cambria, Garamond, Perpetua,  Century Gothic, Georgia, Gill Sans, Impact, Tahoma, Palatino, Trebuchet MS,  Bookman, Luminari, Bradley Hand,;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(255,255,255,1);
}
.Image_Class {
	position: absolute;
	width: 407.058px;
	height: 419.948px;
	left: 328.207px;
	top: 166.434px;
	overflow: visible;
}
.About-me-img-01_Class {
	mix-blend-mode: multiply;
	position: absolute;
	width: 356.875px;
	height: 362.559px;
	left: 42.175px;
	top: 47.629px;
	overflow: visible;
}
.Soustraction_20_bt_Class {
	fill: url(#Soustraction_20_bt);
}
.Soustraction_20_bt {
	overflow: visible;
	position: absolute;
	width: 407.058px;
	height: 419.948px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
