.mediaViewInfo {
	--web-view-name: Index;
	--web-view-id: Index;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-enable-scale-up: true;
	--web-scale-on-resize: true;
	--web-center-horizontally: true;
	--web-enable-deep-linking: true;
	--web-page-font: Arial, Helvetica, Times, Courier New, Verdana, Baskerville, Calibri, Cambria, Garamond, Perpetua,  Century Gothic, Georgia, Gill Sans, Impact, Tahoma, Palatino, Trebuchet MS,  Bookman, Luminari, Bradley Hand,;
}
:root {
	--web-view-ids: Index;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
@media screen and (min-width: 600px) {
    body {
        font-size: 18px;
    }
}

@media screen and (min-width: 800px) {
    body {
        font-size: 20px;
    }
}
.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.responsive-image {
  max-width: 100%;
  height: auto;
}
a {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Use the parent element's text color */
}
.Index_Class {
	position: absolute;
	width: 1920px;
	height: 1080px;
	font-family: Arial, Helvetica, Times, Courier New, Verdana, Baskerville, Calibri, Cambria, Garamond, Perpetua,  Century Gothic, Georgia, Gill Sans, Impact, Tahoma, Palatino, Trebuchet MS,  Bookman, Luminari, Bradley Hand,;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: Index;
	--web-view-id: Index;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-enable-scale-up: true;
	--web-scale-on-resize: true;
	--web-center-horizontally: true;
	--web-enable-deep-linking: true;
	--web-page-font: Arial, Helvetica, Times, Courier New, Verdana, Baskerville, Calibri, Cambria, Garamond, Perpetua,  Century Gothic, Georgia, Gill Sans, Impact, Tahoma, Palatino, Trebuchet MS,  Bookman, Luminari, Bradley Hand,;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
.Welcome-Menu2_Class {
	position: absolute;
	width: 229px;
	height: 79px;
	left: 707.068px;
	top: 880.5px;
	overflow: visible;
	--web-animation: fadein 0.30000001192092896s ease-out;
	--web-action-type: page;
	--web-action-target: AboutMe01.html;
	cursor: pointer;
}
.Rectangle_50_Class {
	fill: transparent;
	stroke: rgba(15,38,191,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
	text-align: center;
}
.Rectangle_50 {
	position: absolute;
	overflow: visible;
	width: 229px;
	height: 79px;
	left: 0px;
	top: 0px;
}
.More_about_me_Class {
	left: 0px;
	top: 25px;
	position: absolute;
	overflow: visible;
	width: 200px;
	white-space: nowrap;
	text-align: center;
	font-family: Montserrat, Arial, Helvetica, Times, Courier New, Verdana, Baskerville, Calibri, Cambria, Garamond, Perpetua,  Century Gothic, Georgia, Gill Sans, Impact, Tahoma, Palatino, Trebuchet MS,  Bookman, Luminari, Bradley Hand,;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(21,29,65,1);
}
.Welcome-Menu1_Class {
	position: absolute;
	width: 230px;
	height: 79px;
	left: 386.068px;
	top: 880.5px;
	overflow: visible;
	--web-animation: fadein 0.30000001192092896s ease-out;
	--web-action-type: page;
	--web-action-target: ContactMe.html;
	cursor: pointer;
}
.Rectangle_34_Class {
	fill: rgba(15,38,191,1);
}
.Rectangle_34 {
	position: absolute;
	overflow: visible;
	width: 230px;
	height: 79px;
	left: 0px;
	top: 0px;
}
.Contact_me_Class {
	left: 41px;
	top: 25px;
	position: absolute;
	overflow: visible;
	width: 149px;
	white-space: nowrap;
	text-align: center;
	font-family: Montserrat, Arial, Helvetica, Times, Courier New, Verdana, Baskerville, Calibri, Cambria, Garamond, Perpetua,  Century Gothic, Georgia, Gill Sans, Impact, Tahoma, Palatino, Trebuchet MS,  Bookman, Luminari, Bradley Hand,;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
.Welcome_Class {
	position: absolute;
	width: 791.543px;
	height: 641px;
	left: 298.457px;
	top: 243.5px;
	overflow: visible;
}
.Welcome-Forms_Class {
	position: absolute;
	width: 791.543px;
	height: 148.716px;
	left: 0px;
	top: 82.173px;
	overflow: visible;
}
.Ellipse_34_Class {
	fill: rgba(209,50,50,0.49);
}
.Ellipse_34 {
	width: 54.577px;
	height: 54.577px;
	position: absolute;
	overflow: visible;
	transform: translate(-219.388px, -290.173px) matrix(1,0,0,1,369.1336,374.4386) rotate(11deg);
	transform-origin: center;
}
.Trac_121_Class {
	fill: transparent;
	stroke: rgba(32,194,86,1);
	stroke-width: 5px;
	stroke-linejoin: round;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Trac_121 {
	overflow: visible;
	position: absolute;
	width: 22.751px;
	height: 26.343px;
	transform: translate(-219.388px, -290.173px) matrix(1,0,0,1,223.6306,382.4377) rotate(23deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
.Polygone_1_Class {
	fill: rgba(15,38,191,0.678);
}
.Polygone_1 {
	overflow: visible;
	position: absolute;
	width: 58.991px;
	height: 58.295px;
	transform: translate(-219.388px, -290.173px) matrix(1,0,0,1,272.6269,372.5794) rotate(-19deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
.Idea_Class {
	transform: translate(-219.388px, -290.173px) matrix(1,0,0,1,906.6835,301.0309) rotate(33deg);
	transform-origin: center;
	position: absolute;
	width: 76.633px;
	height: 124.107px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Exclusion_1_Class {
	fill: rgba(247,228,47,1);
	stroke: rgba(0,0,0,0);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Exclusion_1 {
	overflow: visible;
	position: absolute;
	width: 133.253px;
	height: 147.21px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.Repair_Class {
	opacity: 0.65;
	transform: translate(-219.388px, -290.173px) matrix(1,0,0,1,536.9999,342.6246) rotate(7deg);
	transform-origin: center;
	position: absolute;
	width: 68.015px;
	height: 78.537px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Groupe_479_Class {
	mix-blend-mode: darken;
	position: absolute;
	width: 68.015px;
	height: 78.537px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Trac_241_Class {
	fill: rgba(191,63,48,1);
}
.Trac_241 {
	overflow: visible;
	position: absolute;
	width: 77.08px;
	height: 86.241px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.Groupe_480_Class {
	position: absolute;
	width: 36.159px;
	height: 37.113px;
	left: 14.858px;
	top: 23.911px;
	overflow: visible;
}
.Trac_242_Class {
	fill: rgba(255,255,255,1);
}
.Trac_242 {
	overflow: visible;
	position: absolute;
	width: 40.412px;
	height: 41.243px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.Welcome-Text_Class {
	position: absolute;
	width: 760px;
	height: 641px;
	left: 15.612px;
	top: 0px;
	overflow: visible;
}
.AMINE_BELLACHHAB_Class {
	left: 1px;
	top: 80px;
	position: absolute;
	overflow: visible;
	width: 628px;
	white-space: nowrap;
	line-height: 146px;
	margin-top: -43px;
	text-align: left;
	font-family: Arial, Arial, Helvetica, Times, Courier New, Verdana, Baskerville, Calibri, Cambria, Garamond, Perpetua,  Century Gothic, Georgia, Gill Sans, Impact, Tahoma, Palatino, Trebuchet MS,  Bookman, Luminari, Bradley Hand,;
	font-style: normal;
	font-weight: bold;
	font-size: 60px;
	color: rgba(21,29,65,1);
}
.__athematics_Teacher__Pedagogi_Class {
	left: 3px;
	top: 176px;
	position: absolute;
	overflow: visible;
	width: 758px;
	white-space: nowrap;
	text-align: left;
	font-family: Impact, Arial, Helvetica, Times, Courier New, Verdana, Baskerville, Calibri, Cambria, Garamond, Perpetua,  Century Gothic, Georgia, Gill Sans, Impact, Tahoma, Palatino, Trebuchet MS,  Bookman, Luminari, Bradley Hand,;
	font-style: normal;
	font-weight: normal;
	font-size: 27px;
	color: rgba(21,29,65,1);
}
.Passionate_mathematics_teacher_Class {
	left: 0px;
	top: 257px;
	position: absolute;
	overflow: visible;
	width: 704px;
	height: 384px;
	line-height: 35px;
	margin-top: -8.5px;
	text-align: left;
	font-family: Tahoma, Arial, Helvetica, Times, Courier New, Verdana, Baskerville, Calibri, Cambria, Garamond, Perpetua,  Century Gothic, Georgia, Gill Sans, Impact, Tahoma, Palatino, Trebuchet MS,  Bookman, Luminari, Bradley Hand,;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(21,29,65,1);
}
.Rectangle_138_Class {
	opacity: 0.1;
	fill: rgba(15,38,191,1);
}
.Rectangle_138 {
	position: absolute;
	overflow: visible;
	width: 215px;
	height: 54px;
	left: 0px;
	top: 0px;
}
.Welcome_I_AM_Class {
	left: 28px;
	top: 16px;
	position: absolute;
	overflow: visible;
	width: 154px;
	white-space: nowrap;
	text-align: left;
	font-family: Montserrat, Arial, Helvetica, Times, Courier New, Verdana, Baskerville, Calibri, Cambria, Garamond, Perpetua,  Century Gothic, Georgia, Gill Sans, Impact, Tahoma, Palatino, Trebuchet MS,  Bookman, Luminari, Bradley Hand,;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(15,38,191,1);
}
.Menu_Class {
	position: absolute;
	width: 743.466px;
	height: 51px;
	left: 888.534px;
	top: 78.5px;
	overflow: visible;
}
.BackGround-Menu_Class {
	position: absolute;
	width: 720.708px;
	height: 37.282px;
	left: 0px;
	top: 4.236px;
	overflow: visible;
}
.Trac_116_Class {
	fill: rgba(73,15,238,0.541);
}
.Trac_116 {
	overflow: visible;
	position: absolute;
	width: 112.485px;
	height: 36.211px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.Trac_119_Class {
	fill: rgba(15,238,200,0.541);
}
.Trac_119 {
	overflow: visible;
	position: absolute;
	width: 112.485px;
	height: 36.211px;
	left: 608.224px;
	top: 1.07px;
	transform: matrix(1,0,0,1,0,0);
}
.Trac_120_Class {
	fill: rgba(187,78,241,0.541);
}
.Trac_120 {
	overflow: visible;
	position: absolute;
	width: 112.485px;
	height: 36.211px;
	left: 388.224px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.Trac_118_Class {
	fill: rgba(15,238,238,0.541);
}
.Trac_118 {
	overflow: visible;
	position: absolute;
	width: 111.859px;
	height: 36.211px;
	left: 187.607px;
	top: 1.07px;
	transform: matrix(1,0,0,1,0,0);
}
.Text-Menu_Class {
	position: absolute;
	width: 734px;
	height: 51px;
	left: 9.466px;
	top: 0px;
	overflow: visible;
}
.Home_Class {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 81px;
	white-space: nowrap;
	text-align: left;
	font-family: Adobe Caslon Pro, Arial, Helvetica, Times, Courier New, Verdana, Baskerville, Calibri, Cambria, Garamond, Perpetua,  Century Gothic, Georgia, Gill Sans, Impact, Tahoma, Palatino, Trebuchet MS,  Bookman, Luminari, Bradley Hand,;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(21,29,65,1);
}
.Projects_Class {
	left: 390px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 103px;
	white-space: nowrap;
	--web-animation: fadein 0.30000001192092896s ease-out;
	--web-action-type: page;
	--web-action-target: Projects.html;
	cursor: pointer;
	text-align: left;
	font-family: Adobe Caslon Pro, Arial, Helvetica, Times, Courier New, Verdana, Baskerville, Calibri, Cambria, Garamond, Perpetua,  Century Gothic, Georgia, Gill Sans, Impact, Tahoma, Palatino, Trebuchet MS,  Bookman, Luminari, Bradley Hand,;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(21,29,65,1);
}
.About_Me_Class {
	left: 170px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 131px;
	white-space: nowrap;
	--web-animation: fadein 0.30000001192092896s ease-out;
	--web-action-type: page;
	--web-action-target: AboutMe01.html;
	cursor: pointer;
	text-align: left;
	font-family: Adobe Caslon Pro, Arial, Helvetica, Times, Courier New, Verdana, Baskerville, Calibri, Cambria, Garamond, Perpetua,  Century Gothic, Georgia, Gill Sans, Impact, Tahoma, Palatino, Trebuchet MS,  Bookman, Luminari, Bradley Hand,;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(21,29,65,1);
}
.Contact_Me_Class {
	left: 582px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 153px;
	white-space: nowrap;
	--web-animation: fadein 0.30000001192092896s ease-out;
	--web-action-type: page;
	--web-action-target: ContactMe.html;
	cursor: pointer;
	text-align: left;
	font-family: Adobe Caslon Pro, Arial, Helvetica, Times, Courier New, Verdana, Baskerville, Calibri, Cambria, Garamond, Perpetua,  Century Gothic, Georgia, Gill Sans, Impact, Tahoma, Palatino, Trebuchet MS,  Bookman, Luminari, Bradley Hand,;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(21,29,65,1);
}
.Logo_Class {
	position: absolute;
	width: 474px;
	height: 71px;
	left: 314px;
	top: 64.5px;
	overflow: visible;
}
.Logo_rectangle_bv_Class {
	fill: url(#Logo_rectangle_bv);
}
.Logo_rectangle_bv {
	position: absolute;
	overflow: visible;
	width: 319px;
	height: 64px;
	left: 155px;
	top: 7px;
}
.Amine__Bellachhab_Class {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 463px;
	white-space: nowrap;
	line-height: 45px;
	margin-top: -1.5px;
	text-align: left;
	font-family: Times, Arial, Helvetica, Times, Courier New, Verdana, Baskerville, Calibri, Cambria, Garamond, Perpetua,  Century Gothic, Georgia, Gill Sans, Impact, Tahoma, Palatino, Trebuchet MS,  Bookman, Luminari, Bradley Hand,;
	font-style: normal;
	font-weight: bold;
	font-size: 42px;
	color: rgba(21,29,65,1);
	text-transform: uppercase;
}
.About-me-img-01_Class {
	mix-blend-mode: multiply;
	position: absolute;
	width: 468.749px;
	height: 476.215px;
	left: 1145.395px;
	top: 350.764px;
	overflow: visible;
}
.Soustraction_19_bz_Class {
	fill: url(#Soustraction_19_bz);
}
.Soustraction_19_bz {
	overflow: visible;
	position: absolute;
	width: 534.662px;
	height: 551.592px;
	left: 1090px;
	top: 288.204px;
	transform: matrix(1,0,0,1,0,0);
}
.wwwaminebellachhabma__All_Righ_Class {
	left: 564px;
	top: 1034px;
	position: absolute;
	overflow: visible;
	width: 793px;
	height: 25px;
	line-height: 35px;
	margin-top: -7.5px;
	text-align: center;
	font-family: Tahoma, Arial, Helvetica, Times, Courier New, Verdana, Baskerville, Calibri, Cambria, Garamond, Perpetua,  Century Gothic, Georgia, Gill Sans, Impact, Tahoma, Palatino, Trebuchet MS,  Bookman, Luminari, Bradley Hand,;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(15,38,191,1);
}
.Ligne_70_Class {
	fill: transparent;
	stroke: rgba(22,42,194,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ligne_70 {
	overflow: visible;
	position: absolute;
	width: 1640px;
	height: 2px;
	left: 140px;
	top: 1002px;
	transform: matrix(1,0,0,1,0,0);
}